In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
from PIL import Image
import joblib

In [ ]:
dataTrain = pd.read_csv("train.csv", dtype=float)
dataTest = pd.read_csv("mnist_test.csv", dtype=float)
dataTrain.head()
dataTest.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dataTrain.count()

label       42000
pixel0      42000
pixel1      42000
pixel2      42000
pixel3      42000
            ...
pixel779    42000
pixel780    42000
pixel781    42000
pixel782    42000
pixel783    42000
Length: 785, dtype: int64

In [ ]:
dataTest.count()

label    10000
1x1      10000
1x2      10000
1x3      10000
1x4      10000
         ...
28x24    10000
28x25    10000
28x26    10000
28x27    10000
28x28    10000
Length: 785, dtype: int64

In [ ]:
dataArrayTrain = dataTrain.values
dataArrayTrain[:,1:] = dataArrayTrain[:,1:] / 255
dataArrayTest = dataTest.values
dataArrayTest[:,1:] = dataArrayTest[:,1:] / 255

In [ ]:
estimator = MLPClassifier(activation='tanh',solver='sgd', verbose=True)
parameters = {
    'learning_rate_init':[0.0001, 0.001, 0.01, 0.1, 1],
                 'alpha':[0.0001, 0.001, 0.01, 0.1, 1],
    'hidden_layer_sizes':[(512, 256, 128, 64, 32, 16),
                          (256, 128, 256, 128, 256),
                          (10, 10, 10, 10, 10, 10, 10, 10),
                          (32, 16, 32, 16, 32, 16, 32),
                          (32, 16, 16, 32, 16, 16)],
              'max_iter':[100, 500, 600, 700, 1000],
}

clf = GridSearchCV(estimator, parameters, cv = 4, n_jobs = -1, verbose=3)

In [ ]:
clf.fit(dataArrayTrain[:,1:], dataArrayTrain[:,0])

Iteration 1, loss = 0.90333009
Iteration 2, loss = 0.36466511
Iteration 3, loss = 0.27878726
Iteration 4, loss = 0.23136237
Iteration 5, loss = 0.19977493
Iteration 6, loss = 0.17517865
Iteration 7, loss = 0.15574778
Iteration 8, loss = 0.14063826
Iteration 9, loss = 0.12736673
Iteration 10, loss = 0.11689359
Iteration 11, loss = 0.10683148
Iteration 12, loss = 0.09850678
Iteration 13, loss = 0.09024325
Iteration 14, loss = 0.08451129
Iteration 15, loss = 0.07888146
Iteration 16, loss = 0.07332663
Iteration 17, loss = 0.06823896
Iteration 18, loss = 0.06391193
Iteration 19, loss = 0.05985888
Iteration 20, loss = 0.05638726
Iteration 21, loss = 0.05276540
Iteration 22, loss = 0.04988408
Iteration 23, loss = 0.04697850
Iteration 24, loss = 0.04472652
Iteration 25, loss = 0.04178224
Iteration 26, loss = 0.03892715
Iteration 27, loss = 0.03671878
Iteration 28, loss = 0.03459636
Iteration 29, loss = 0.03285132
Iteration 30, loss = 0.03100310

In [ ]:
print(f"Train set score: {clf.score(dataArrayTrain[:,1:], dataArrayTrain[:,0])}")
print(f"Test  set score: {clf.score(dataArrayTest[:,1:], dataArrayTest[:,0])}")

Train set score: 0.9919285714285714
Test  set score: 0.9737